<!DOCTYPE html>
<html lang="en" ng-app="exoticApp"> <!-- Use ng-app to bootstrap angularjs -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exotic Fish Template</title>

    <!-- Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/custom-animations.css" rel="stylesheet">
    <link href="static/css/glenn.css" rel="stylesheet">
    <link href="static/css/custom_bootstrap2.css" rel="stylesheet">
    

    <!-- Angular Scripts -->
    <script src="static/js/angular.min.js"></script>
    <script src="static/js/angular-resource.min.js"></script>
    <script src="static/js/angular-route.min.js"></script>
    <script src="static/js/angular-animate.min.js"></script>
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>

    <script src="static/js/lodash.min.js"></script> <!--To make angular google work-->
    <script src="static/js/angular-google.min.js"></script>
<!-- 
    <script src="js/ui-bootstrap.min.js"></script>
     -->
    <script src="static/js/ang_routr.js"></script>



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="full container">
    <!-- Class full sets full background to your html. Change the location
    of file in glenn.css file -->
    <div class="main_section dummy_test">
      <!-- This section implements the max-width for your website. 
      There is no min-width to accomodate mobile viewing.
      Bootstrap's container and .row classes are used.-->
      <div class="row split_top_banner">
        <div class="row col-md-6">
	      <div id="fixed_menu" class="col-sm-12 padding_left_zero"> <!-- If small screen, take full width else half -->
	        <!-- This defines Menu fixed to the Top Right corner of your webpage. --> 
          <div class="col-md-12 ">
  	        <a ng-href="#home">Home</a> |
  	        <a ng-href="#about">AboutUs</a> |
  	        <a ng-href="#services"> Services</a> |
  	        <a ng-href="#location">Location </a>
          </div> 
          <!-- <a ng-href="#test_new">Test New </a> -->
          <div id="title_large" class="col-sm-12">
            Exotic FishBowl
          </div>

	      </div>
      </div>
      <!-- There are two addresses because the address on a small screen has to be displayed on the left -->
        <div class="hidden-xs hidden-sm col-md-6 top_right_locations padding_right_zero">
          <address>
            506 TerryParkway,  <br>
            Gretna, LA, 70058 <br>
            <a href="tel:+1-504-555-5555"> 504-555-5555</a>
          </address>
        </div>

        <div class="col-sm-12 hidden-lg hidden-md padding_right_zero">
          <address>
            506 TerryParkway,  <br>
            Gretna, LA, 70058 <br>
            <a href="tel:+1-504-555-5555"> 504-555-5555</a>
          </address>
        </div>

      </div>


      <div> <!-- Start Extended Menu Div -->
        <!-- Div to contain the Menu -->
        <nav class="navbar navbar-default" role="navigation" id="dangling_menu">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- <a class="navbar-brand" href="#">Menu</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li> -->
                <li class="dropdown">
                  <a sref="#home" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown1 <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#test_new">Test New</a></li>
                    <li><a href="#home">Another action</a></li>
                    <li><a href="#home">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#home">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#home">One more separated link</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a sref="#home" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown2 <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#test_new">Action</a></li>
                    <li><a href="#home">Another action</a></li>
                    <li><a href="#home">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#home">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#home">One more separated link</a></li>
                  </ul>
                </li>


              </ul>
              
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div> <!-- End Extended Menu DIV -->

      <div ng-controller="mainController">
       <!--  {{message}} Msg -->
        <!-- <div ng-include="pages/about.html"></div> -->
        <!-- angular templating -->
        <!-- this is where content will be injected -->
        <div ng-view class="view_animate"></div>
        <!-- <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map> -->


      </div>

    <div> <!-- Start Main Page Content. Only This content changes page after page. -->

    </div>

    </div> <!-- End Main Section -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700' rel='stylesheet' type='text/css'>


    
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
    <script type="text/javascript">stLight.options({publisher: "64931cc0-5b54-47dd-a563-ea2c7d62eb82", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
    <script>
    var options={ "publisher": "64931cc0-5b54-47dd-a563-ea2c7d62eb82", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin"]}};
    var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
    </script>
    

  </body>
</html>